.Fills {
    display: grid;
    gap: .5rem;
    margin-bottom: .5rem;
}
.FillsTitle {
    text-align: center;
}
.FillsGrid {
    display: grid;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.Fill {
    padding: .25rem;
    display: grid;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    background: var(--b-bg-1);
    border: solid 1px var(--b-bg-1);
}
.FillGrid {
    padding: .25rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
