.Products {
}
.ProductsTitle {
}
.ProductsList {
    display: grid;
    gap: .5rem;
    padding-bottom: .5rem;
}
.Product {
    display: grid;
    padding: .5rem;
    border-radius: .25rem;
    background: var(--b-bg-1);
    border: solid 1px var(--b-bg-1);
}
.ProductTitle {
}
.ProductBookPrice {
}
.ProductVolume {
}
.ProductStd {
}
.ProductGrid {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: .5rem;
    margin-top: .5rem;
}
.ProductBlurb {
    display: flex;
    gap: .5rem;
}
.ProductButtons {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-top: .5rem;
}
.ProductDetailsButton {
    width: fit-content;
}
.ProductBookButton {
    width: fit-content;
}
.ShowEventQueueWrapper {
    display: flex;
    margin-top: .5rem;
    justify-content: center;
}
