.TRGPositions {
    display: grid;
    gap: .5rem;
    margin-bottom: .5rem;
}
.TRGPositionsTitle {
    text-align: center;
}
.TRGPositionsGrid {
    display: grid;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.TRGPosition {
    padding: .25rem;
    display: grid;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    background: var(--b-bg-1);
    border: solid 1px var(--b-bg-1);
}
.TRGPositionGrid {
    padding: .25rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
